{% extends 'base.html'%}
{% block head %}
    <title>voice_lab</title>
{% endblock %}

{% block body %} 
    <div class="w-80 p-4">
        <form action="/register" method="POST">
            <input name="train" class="form-control" type="text" required>
            <button class="btn btn-outline-secondary mt-3" type="submit">追加</button>
        </form>
    </br>
        <form action="/delete" method="POST">
            <input name="train" class="form-control" type="text" required>
            <button class="btn btn-outline-secondary mt-3" type="submit">削除</button>
        </form>
        <ul class="list-group pt-4">
            {% for Train in Trainlist %}
                <li class="list-group-item">{{ Train.TrainName }}</li>
            {% endfor %}    
        </ul>
    </div>
{% endblock %}